* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.note {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(50% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s;
    overflow: hidden;
    word-wrap: anywhere;
}

.note:hover {
    transform: scale(1.02);
}

.note-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 10px;
}

.note-buttons button {
    background-color: #b4b4b4;
    border: none;
    border-radius: 2em;
    padding: 5px 10px;
    cursor: pointer;
}

.note-buttons button:hover {
    background-color: #c43dfa;
    transition: 0.3s;
}

@media (max-width: 600px) {
    .note {
        width: 100%;
    }
}